---

---

<header class="header">
  <div class="logo">
    <img class="logo-letters" src="images/logoLetters.svg" alt="" />
    <img class="logo-border" src="images/logoBorder.svg" alt="" />
  </div>
  <div class="header__description">
    <h1>Carlos Gonzalez</h1>
    <h2>Senior Front-End Developer</h2>
  </div>
</header>
<div class="header-divi-cont">
  <div class="header-divi"></div>
</div>
