---
import Project from './project.astro';
import projectsData from '../../data/projects.yml';
---
<main class="main">
    <ul id="hexGrid">
        {projectsData.map(project => (
            <Project 
              title={project.title} 
              sub={project.sub} 
              color={project.color}
              content={project.content}
              img={project.img}
              wide={project.wide}
            />
          ))}
    </ul>
</main>
