---
---
<div id="modal">
    <div id="modal_inner">
        <h1 id="modal_title"></h1>
        <p id="modal_sub"></p>
        <div id="modal_content"></div>
    </div>
</div>

<div id="modal_close">
    <img src="images/close.svg" alt="close">
</div>

<div id="modal_bg"></div>