---
const { title, sub, color, img, wide, content } = Astro.props;
---
<li class="hex" data-content={JSON.stringify(content)} data-title={title} data-sub={sub}>
    <div class="hexIn" style={`background-color: ${color};`}>
        <img src={img} alt="" class={wide ? "wide_image" : ""}/>
        <h1>{title}</h1>
        <p>{sub}</p>
    </div>
</li>
