---
import "normalize.css"
import "@fontsource/noto-sans"; 
import "../style/main.scss"
import Header from "./components/header.astro"
import Main from "./components/main.astro"
import Modal from "./components/modal.astro"

---
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Carlos Gonzalez Portfolio</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  
  <!-- Favicon -->
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="images/favicon.ico">

  <!-- SEO Meta Tags -->
  <meta name="description" content="Carlos Gonzalez Portfolio - Front-End Developer showcasing web development projects, skills, and experience.">
  <meta name="keywords" content="Carlos Gonzalez, Front-End Developer, Portfolio, Web Development, HTML, CSS, JavaScript, React, UI/UX">
  <meta name="author" content="Carlos Gonzalez">

  <!-- Open Graph Meta Tags (for better social media sharing) -->
  <meta property="og:title" content="Carlos Gonzalez Portfolio">
  <meta property="og:description" content="Explore the portfolio of Carlos Gonzalez, a Front-End Developer with a focus on modern web technologies.">
  <meta property="og:image" content="images/site_preview.png">
  <meta property="og:url" content="https://carlosgonz.com">
  <meta property="og:type" content="website">
  
  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Carlos Gonzalez Portfolio">
  <meta name="twitter:description" content="Explore the portfolio of Carlos Gonzalez, a Front-End Developer with a focus on modern web technologies.">
  <meta name="twitter:image" content="images/site_preview.png">
  
  <!-- Charset and other meta tags -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>


<body>
    <main id="body">
      <div id="content">
        <Header/>
        <Main/>
      </div>
      <Modal/>
    </main>
</body>

<script src="/script/modal.js" charset="utf-8"></script>