.header {
  padding: 60px 40px 50px;
  text-align: left;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;

  @media screen and (min-width: 1201px) {
    flex-direction: row;
  }

  &__description {
    align-content: center;
    padding: 0 0 0 20px;
  }

  h1,
  h2,
  p {
    margin: 0;
    color: $color-green;
    text-align: center;

    @media screen and (min-width: 1201px) {
      text-align: left;
    }
  }


  svg {
    fill: $color-green;
  }

  h1 {
    margin-top: 20px;

    @media screen and (min-width: 1201px) {
      margin-top: 0;
    }
  }


}


.logo {
  width: 80px;
  height: 80px;
  position: relative;
  display: block;
  padding-top: 2px;
  @media screen and (min-width: $content-width) {
    width: 60px;
    height: 60px;
  }

  &-letters {
    position: absolute;
  }

  &-border {
    animation: spin 53s linear infinite;
    outline: 1px solid transparent
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}