html.modal_open,
html.modal_open body {
  overflow: hidden;
  height: 100%;
}

#body {
  position: relative
}

#modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background: #fff;
  max-width: 900px;
  z-index: 200;
  transform: translateX(900px);
  will-change: transform;
  transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;

  html.modal_open & {
    transform: translateX(0);
    box-shadow: 0 0 80px #000;
  }

  &_inner {
    height: calc(100% - 1px);
    width: 100%;
    z-index: 300;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
}

#modal_bg {
  position: fixed;
  top: 0;
  background: #000;
  width: 100%;
  height: 100%;
  z-index: 100;
  opacity: 0;
  transition: opacity 0.4s linear, visibility 0.4s;
  will-change: opacity;
  visibility: hidden;

  html.modal_open & {
    opacity: 0.5;
    visibility: visible;
  }
}

#modal {

  &_title,
  &_sub {
    margin: 0;
    padding: 20px 50px 0 20px;
    line-height: 40px;
    background: white;
    display: block;
    @media screen and (min-width: $break-md) {
      line-height: 1.2em;
    }
    @media screen and (min-width: $break-lg) {
      padding: 20px 50px 0;
    }
  }

  &_title {
    font-size: 40px;

    @media screen and (min-width: $break-md) {
      font-size: 60px;
    }
  }

  &_sub {
    padding-top: 0;
    font-size: 16px;

    @media screen and (min-width: $break-md) {
      font-size: 24px;
    }
  }
}

#modal_content {
  margin: 20px 0;

  p {
    margin: 0 20px 16px;
    @media screen and (min-width: $break-lg) {
      padding: 0 10px 16px;
    }
  }

  @media screen and (min-width: $break-lg) {
    margin: 20px;
  }

  img {
    width: 100%;
    display: block;
    margin-bottom: 20px
  }
}

#modal_close {
  width: 25px;
  height: 25px;
  padding: 14px 8px 14px 18px;
  position: fixed;
  top: 28px;
  background: #fff;
  z-index: 1000;
  right: 0;
  transform: translateX(60px);
  will-change: transform;
  transition: transform 0.4s ease-in-out;
  border-radius: 50% 0% 0% 50%;

  html.modal_open & {
    transform: translateX(0px);

    @media screen and (min-width: $break-lg) {
      transform: translateX(-900px);
    }
  }
}