@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

#body {
    overflow-x: hidden;
}

$break-sm: 320px;
$break-md: 680px;
$break-lg: 1024px;
$content-width: 960px;
$footer-width: 650px;
$color-green: #37503c;
@import 'header';
@import 'hex';
@import 'modal';

body{
  font-family: 'Inter',Arial, Helvetica, sans-serif
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Inter',Arial, Helvetica, sans-serif
}

.main {
    position: relative;
    width: auto;
    max-width: $content-width;
    margin: 0 20px 60px;
    @media screen and (min-width: $break-lg) {
        margin-left: auto;
        margin-right: auto;
    }
}
